{% extends 'main.html' %}

{% block title %} Add Promotions {% endblock %}

{% block content %}
<h3>Add a promotion</h3>
    <body>
        <p>
            <div class="form">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    {{ form.promotions_name.label }} {{ form.promotions_name }}
                    <br>
                    {{ form.promotions_owner.label }} {{ form.promotions_owner }}
                    <br>
                    {{ form.promotions_based.label }} {{ form.promotions_based }}
                    <br>
                    {{ form.submit }}
                    <br>
                </form>
            </div>
        </p>
    </body>
{% endblock content %}


